# ignore everything
*

# except these
!Cargo.lock
!Cargo.toml
!LICENSE
!openapi.yaml
!README.md
!regtest.sh
!rust-lightning/
!src/
!migration/
!build.rs
!tools/

# but still ignore these
rust-lightning/.git
rust-lightning/.github
rust-lightning/.gitignore
tools/wasm-proxy-gateway/target
